body{
    background-color: rgb(91, 181, 89);
}
h1{
    color: brown;
    text-align: center;
    text-decoration:line-through;
    text-transform: uppercase;
    text-shadow: 5px 10px 2px #F04;
    text-indent: 200px;
}
body{
    background-image: url(/CSS/IMG20191128174126.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    width: 900px;
    height: 500px;
    margin: auto;
    padding: 0 px;
    /* background-image: linear-gradient(red,yellow); */
    background-image: radial-gradient(black 10%,white 60%);
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    /* text-align: justify;
    text-wrap: nowrap; */
    font-weight: 900;
    font-variant: small-caps;
}